{% block title %}<h1>Home</h1>{% endblock %}
{% block content %}
{% if user.is_authenticated %}
    {% if post_list %}
    <ul>
    {% for p in post_list%}
        <li><a href="{% url 'viewOthers' p.author.id%}">{{p.author}}</a> | {{ p.pub_date }}</li>
        {{p.post_text}}
        <br><a href="{% url 'like' p.id %}">Like({{ p.likes }}) </a>
        {% if user == p.author %}
            <a href="{% url 'delete' p.id %}">Delete</a>
        {% endif %} </br>
        <br><a href="{% url 'comment' p.id %}">Comment on This Post</a></br>
        <p>Comments:</p>
        {% for com in p.comment_set.all%}
            <ul style="list-style-type:disc;">{{com.author}}: {{com.comment_text}} </ul>
        {% endfor %}
    {% endfor %}
    </ul>
    {% else %}
        <p>No blogs are available.</p>
    {% endif %}
     <p>HashTags</p>
    {% if tag_list %}
    <ul>
    {% for tag in tag_list%}
        <li><a href="{% url 'viewTag' tag.id %}">{{tag}}</a>
    {% endfor %}
    </ul>
    {% else %}
        <p>No tags yet. Make some!</p>
    {% endif %}
    <hr>
    <a href="{% url 'create' %}">Create New Post</a> <a href="{% url 'viewMy' %}">View My Post</a>
    <p><a href="{% url 'logout' %}">logout</a></p>
{% else %}
  <p>You are not logged in</p>
 <p> <a href="{% url 'login' %}">login</a></p>
    <a href="{% url 'signup' %}"> signup</a>
{% endif %}
{% endblock %}